body {
  font-family: Arial, sans-serif;
  background-image: url(img.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* main */
.main {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

/* table design */
.multiplication-table {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.prompt-container {
  position: relative;
  left: 40%;
}
h2 {
  font-size: 18px;
}

#table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#table-container div {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 120px;
  text-align: center;
}

/* Style the prompt input */
input[type="text"] {
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}

/* Style the prompt button */
input[type="button"] {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Hover effect for the button */
input[type="button"]:hover {
  background-color: #217dbb;
}
